body {
	font-family: 'Open Sans'
}

header {
	height: 100vh;
	margin-top: 320px;
}

h1 {
	text-align: center;
	font-size: 40px;
	display: none;
}

.icons {
	width: 300px;
	height: 56px;
	font-size: 54px;
	margin: 0 auto;
}

.icons ul {
	list-style: none;
	padding: 0;
	margin: -10px;
	text-align: center;
}

.icons ul li {
	display: inline-block;
	padding: 0 10px;
}

a,
a:visited {
	color: #337ab7;
}
